/* CSS declarations go here */

main {
	width: 95%;
	margin: 0 auto;
}

main a:hover,
main a:link,
main a:active {
	text-decoration: none;
}

h1 a:hover,
h1 a:link,
h1 a:active {
	text-decoration: none;
}

@media screen and (min-width: 960px) {
	main {
		width: 960px;
	}
}

.uploader {
	width: 350px;
}

.pdflist {
	list-style: none;
	padding: 0;
}

.pdflist li {
	display: inline-block;
	width: 200px;
	height: 110px;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-bottom: 3px solid #cccccc;
}

a.start,
a.continue,
a.view {
	display: inline-block;
	padding: 5px 20px;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	background-color: #cccccc;
	text-transform: uppercase;
	border-radius: 3px;
}

a.start:hover,
a.start:link,
a.start:active,
a.continue:hover,
a.continue:link,
a.continue:active,
a.view:hover,
a.view:link,
a.view:active {
	text-decoration: none;
}

a.start {
	color: #ffffff;
	background-color: #147f54;
}

i.fa {
	font-size: 40px;
}

.button-inline {
	float: left;
	width: 100%;
	margin-top: 10px;
	display: block;
}

.button-inline a.start,
.button-inline a.continue {
	float: left;
}

.button-inline a.view {
	float: right;
}

#blank-pdf-template {
	float: left;
	width: 45%;
	display: block;
}

#pdfcanvas {
	float: right;
	width: 45%;
	display: block;
	border: 1px solid #cccccc;
}

#pdfcanvas.viewing {
	float: left;
	width: 100%;
	display: block;
	border: 1px solid #cccccc;
}

.responsive-viewer {
	float: left;
	width: 100%;
	display: block;
	height: 500px;
	position: relative;
}

.responsive-viewer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
