/* CSS declarations go here */

main {
	width: 95%;
	margin: 0 auto;
}

@media screen and (min-width: 960px) {
	main {
		width: 960px;
	}
}

.uploader {
	width: 350px;
}

.pdflist {
	list-style: none;
	padding: 0;
}

.pdflist li {
	display: inline-block;
	width: 200px;
	height: 100px;
	border: 1px solid #cccccc;
	padding: 10px;
	margin-bottom: 10px;
}
